:root {
	--student-info-padding: 1rem;
}

#student-data ol {
	display: flex;
	justify-content: space-evenly;
}

#student-data ol > li {
	padding: var(--student-info-padding);
}

#student-misc ol > li {
	padding: var(--student-info-padding);
}

#student-misc ol {
	display: flex;
	justify-content: space-around;
}

#main-container {
	display: flex;
}

#navigation {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navigation li {
	padding: var(--list-padding);
}

#navigation a {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container {
	font-size: 16px;
	font-style: italic;
}
