@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
	background: no-repeat url("../img/background-index.jpg");
	background-size: 100%;
}

main {
	font-family: Graduate;
	text-align: center;
	color: white;
	height: 80vh;
}

h2 {
	background-color: #194576;
	font-size: 50px;
	background-color: darkblue;
}

.section-header {
	margin: 10px;
	line-height: 250%;
	font-size: 25px;
	border: 5px solid white;
	padding-left: var(--section-header-padding);
}
	  
.point-to-other-page {
	color: #0F76B0;
}

.txt-color {
	margin: 25px;
	color: white;
	font-weight: 400;
	font-size: 25px;
	font-family: Graduate;
}
