#container-btn-problem a {
	text-decoration: none;
}

#container-redirects {
	display: flex;
	justify-content: center;
	padding-top: 0.75rem;
}

.name-classroom {
	display: flex;
	justify-content: center;
	align-items: center;
}
